* { box-sizing: border-box }

body {
  /*font-family: sans-serif;*/
  font-family: "Trebuchet MS";
/*  background: #e07070;*/
  background: #000;
  color: white;
  font-size: 3em;
  margin: 0 auto;
}

a {
  color: lime
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.stat{
  margin-right: 2em;
}

.red {
  color: red;
}

.green {
  color: green;
}

.tick > text {
  stroke: red;
  font-size: 20px;
  fill: red;
}

label, input, textarea, button { margin: 1em 0 }

input, textarea, button {
  font-size: 1em;
  padding: 0.5em;
  border-width: 0;
  border-radius: 0COCKC.25em
}

input, textarea { width: 100% }

img {
  max-width: 100%;
  max-height: 15em
}

.danger {
  background: red;
  color: white
}
